.bth-reset {
  padding: 0;
  border: none;
  background-color: transparent;
  cursor: pointer;
  outline: none;
}

#about {
  display: flex;
  justify-content: space-between;
  padding-bottom: 10px;
}

.swiper {
  max-width: 695px;
  height: 445px;
}

.about {
  position: relative;
  background-image: url('../img/plashka.png');
  background-repeat: no-repeat;
  background-size: cover;
  max-width: 510px;
  display: flex;
  flex-direction: column;
  padding: 26px 39px 100px 39px;
}

.about__title {
  font-weight: 400;
  font-size: 45px;
  line-height: 150%;
  letter-spacing: -0.02em;
  margin-bottom: 5px;
  color: var(--color-wet-asphalt);
}

.about__title-span {
  color: var(--color-slate-blue);
}

.about__text {
  max-width: 312px;
  font-weight: 400;
  font-size: 15px;
  line-height: 159%;
  margin-bottom: 30px;
  color: var(--color-signal-black);
}

.about__text-span {
  font-weight: 500;
  color: var(--color-slate-blue);
}

.about__item-text {
  padding-left: 50px;
  font-weight: 400;
  font-size: 15px;
  line-height: 156%;
  letter-spacing: -0.02em;
  color: var(--color-signal-black);
}

.about__item-span {
  font-weight: 500;
  color: var(--color-slate-blue);
}

.about__item:not(:last-child) {
  margin-bottom: 26px;
}

.about__item {
  background-image: url(./img/home_light.png);
  background-repeat: no-repeat;
  background-size: auto;
  background-position: left top;
}

.about__btn {
  width: 262px;
  height: 52px;
  padding: 0 5px 0 25px;
  position: absolute;
  display: flex;
  align-items: center;
  bottom: 0;
  right: 0;
  font-weight: 400;
  font-size: 18px;
  line-height: 105%;
  border-radius: 40px;
  color: var(--color-signa-black);
  background: linear-gradient(133deg, #c8d3ff 0%, #afa7ff 100%);
}

.about__btn-icon {
  margin-left: auto;
}

.swiper-horizontal > .swiper-pagination-bullets,
.swiper-pagination-bullets.swiper-pagination-horizontal,
.swiper-p .swiper-pagination-fraction {
  bottom: var(--swiper-pagination-bottom, -4px);
  top: var(--swiper-pagination-top, auto);
  left: 0;
  width: 100%;
}
