.doctors__title-card {
  display: flex;
  align-items: center;
  font-weight: 400;
  font-size: 21px;
  line-height: 150%;
  letter-spacing: -0.02em;
  margin-bottom: 20px;
  color: var(--color-dull-grey);
}

.doctors__card-svg {
  margin-right: 5px;
}

.doctors__container-card {
  display: flex;
  justify-content: space-between;
}

.doctors__container-profile {
  display: flex;
  flex-direction: column;
}

.doctors__card-name {
  font-weight: 500;
  font-size: 32px;
  line-height: 130%;
  letter-spacing: -0.02em;
  color: var(--color-gray-brown);
}

.doctors__text-profession {
  font-weight: 500;
  font-size: 20px;
  line-height: 100%;
  color: var(--color-pearl);
}

.doctors__text-service {
  font-weight: 400;
  font-size: 15px;
  line-height: 120%;
  letter-spacing: -0.01em;
  padding: 5px 10px;
  border-radius: 8px;
  color: var(--color-black-brown);
  background-color: #d8d5fd;
}

.doctors__text-degree {
  font-weight: 500;
  font-size: 15px;
  line-height: 100%;
  color: var(--color-pearl);
}

.doctors__card-rank {
  font-weight: 400;
  font-size: 20px;
  line-height: 156%;
  letter-spacing: -0.02em;
  color: var(--color-gray-brown);
}

.doctors__text-price {
  font-weight: 500;
  font-size: 15px;
  line-height: 100%;
  color: var(--color-pearl);
}

.doctors__span-price {
  font-weight: 400;
  font-size: 20px;
  line-height: 156%;
  letter-spacing: -0.02em;
  color: var(--color-gray-brown);
}
