.main {
  padding-bottom: 100px;
}

.doctors__title {
  font-weight: 400;
  font-size: 45px;
  line-height: 150%;
  letter-spacing: -0.02em;
  margin-bottom: 45px;
  color: var(--color-signa-black);
}

.doctors__list {
  display: flex;
  flex-wrap: wrap;
}
.doctors__name {
  font-weight: 500;
  font-size: 20px;
  line-height: 130%;
  letter-spacing: -0.02em;
  margin-bottom: 10px;
  color: var(--color-gray-brown);
}

.doctors__profession {
  font-weight: 500;
  font-size: 18px;
  line-height: 100%;
  margin-bottom: 20px;
  color: var(--color-pearl);
}

.doctors__reception {
  font-weight: 400;
  font-size: 15px;
  line-height: 120%;
  letter-spacing: -0.01em;
  padding: 5px 10px;
  border-radius: 8px;
  color: var(--color-black-brown);
  background-color: #d8d5fd;
}

.doctors__img {
  margin-bottom: 20px;
}

.doctors__item {
  display: flex;
  flex-direction: column;
  max-width: 260px;
  margin-right: 86.5px;
  margin-bottom: 60px;
  border-radius: 9px;
  transition: box-shadow 0.3s ease-in-out; /* Плавный переход */
  box-shadow: none; /* Исходное состояние — без тени */
}

.doctors__item-link {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.doctors__item:nth-child(4n) {
  margin-right: 0;
}

.doctors__item:nth-last-child(-n + 4) {
  margin-bottom: 0;
}
.doctors__item:hover {
  box-shadow: 0 0 0 2px var(--color-slate-blue);
}
