.bth-reset {
  padding: 0;
  border: none;
  background-color: transparent;
  cursor: pointer;
  outline: none;
}
.header {
  padding-top: 30px;
  padding-bottom: 45px;
}

.header__top {
  display: flex;
  align-items: center;
  margin-bottom: 35px;
}
.header__logo {
  display: flex;
  margin-right: auto;
}

.header__logo--mobile {
  display: none;
}

.header__logo-link {
  flex-shrink: 0;
  margin-right: 10px;
}

.header__container-info {
  display: flex;
}

.header__text {
  margin-right: 175px;
}

.header__btn-address {
  display: flex;
  align-items: center;
  margin-right: 10px;
}

.header__text-address {
  font-weight: 400;
  font-size: 16px;
  line-height: 105%;
  color: var(--color-wet-asphalt);
}

.header__list {
  display: flex;
  flex-wrap: wrap;
}

.header__btn-item {
  display: flex;
  align-items: center;
}

.header__item {
  font-weight: 400;
  font-size: 19px;
  line-height: 105%;
  margin-left: 10px;
  color: var(--color-wet-asphalt);
}

.header__btn-item:not(:last-child) {
  margin-right: 35px;
}

.header__nav {
  padding: 10px 50px;
  background-color: var(--color-lavender);
  border-radius: 12px;
}

.header__nav-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}


.header__nav-item:not(:last-child) {
  margin-right: 10px;
}

.header__nav-link {
  font-weight: 400;
  font-size: 17px;
  line-height: 100%;
  color: var(--color-wet-asphalt);
}
/*dropdown*/
.dropdown {
  position: relative;
  display: inline-flex;
}

.dropdown-content {
  position: absolute;
  top: 100%; 
  left: 0;
  opacity: 0;
  pointer-events: none;
  transform: translateY(10px); 
  transition: opacity 0.3s ease, transform 0.3s ease;
  background-color: var(--color-lavender);
  min-width: 190px;
  padding: 10px;
  box-shadow: 4px 4px 15px 0 rgba(13, 14, 86, 0.2);
  border: 1px solid rgba(140, 133, 218, 0.1);
  border-radius: 15px;
  z-index: 11;
}

.dropdown-content__services {
  display: flex;
  position: absolute;
  top: 100%; 
  left: 0;
  opacity: 0;
  pointer-events: none;
  transform: translateY(10px); 
  transition: opacity 0.3s ease, transform 0.3s ease;
  background-color: var(--color-lavender);
  min-width: 450px;
  padding: 10px;
  box-shadow: 4px 4px 15px 0 rgba(13, 14, 86, 0.2);
  border: 1px solid rgba(140, 133, 218, 0.1);
  border-radius: 15px;
  z-index: 11;
}




.dropdown:hover .dropdown-content,
.dropdown-content:hover {
  opacity: 1;
  pointer-events: auto;
  transform: translateY(0);
}

.dropdown:hover .dropdown-content__services,
.dropdown-content__services:hover {
  opacity: 1;
  pointer-events: auto;
  transform: translateY(0);
}

.header__nav-link-dropdown {
  display: block;
  font-weight: 500;
  font-size: 14px;
  line-height: 249%;
  padding: 0 10px;
  text-decoration: none;
  color: var(--color-grey);
  border-bottom: 1px solid rgba(140, 133, 218, 0.1);
}

.dropdown-content a:last-child {
  border-bottom: none;
}

.header__nav-link-dropdown:hover {
  color: var(--color-slate-blue)
}


.dropdown:hover .dropdown-content {
  opacity: 1;
  pointer-events: auto;
  transform: translateY(0);
}


.dropdown svg {
  transition: transform 0.3s ease;
}


.dropdown:hover svg {
  transform: rotate(180deg);
}

/* Бургер */

.burger {
  display: none;
  flex-direction: column;
  justify-content: space-between;
  width: 24px;
  height: 18px;
  background: none;
  border: none;
  cursor: pointer;
  z-index: 1001;
}

.burger span {
  height: 2px;
  width: 100%;
  background: var(--color-almost-black);
  border-radius: 2px;
  transition: transform 0.3s, opacity 0.3s;
}


.burger.active span:nth-child(1) {
  transform: rotate(45deg) translateY(11px);
}
.burger.active span:nth-child(2) {
  opacity: 0;
}
.burger.active span:nth-child(3) {
  transform: rotate(-45deg) translateY(-11px);
}

.overlay.show {
  display: block;
  opacity: 1;
}

.burger-wrapper {
  position: relative;
}

#mobileNav {
  position: absolute;
  top: 265%;
  left: -31px;
  width: 100vw;
  background-color: #fff;
  box-shadow: 0 10px 15px rgba(0, 0, 0, 0.1);
  max-height: 0;
  overflow: hidden;
  opacity: 0;
  visibility: hidden;
  transition: max-height 0.6s ease, opacity 0.6s ease, visibility 0.6s ease;
  z-index: 1000;
}

#mobileNav.open {
  max-height: calc(100vh - 110px); /* высота экрана минус высота шапки */
  overflow-y: auto;
  opacity: 1;
  visibility: visible;
}


.header__top {
  position: relative;
  z-index: 1100; 
}

.header.menu-open {
  background-color: #F5F4FF;
}

body.menu-open {
  overflow: hidden;
}


