#main {
  padding-bottom: 75px;
}

.info__price {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 350px;
  height: 505px;
  box-shadow: 0 4px 15px 0 rgba(13, 14, 86, 0.2);
}

.price__title {
  font-weight: 400;
  font-size: 45px;
  line-height: 150%;
  letter-spacing: -0.02em;
  margin-bottom: 20px;
  color: var(--color-gray-brown);
}

.container__wrap {
  display: flex;
  justify-content: space-between;
}

/* accardion */
.price__item:not(:last-child) {
  margin-bottom: 10px;
}
.accordion__svg {
  margin-right: 5px;
}
.price__header {
  display: flex;
  align-items: center;
  font-weight: 400;
  font-size: 25px;
  line-height: 156%;
  letter-spacing: -0.02em;
  padding: 15px 20px;
  margin-bottom: 10px;
  cursor: pointer;
  border-radius: 12px;
  color: var(--color-gray-brown);
  background-color: var(--color-lavender);
  transition: opacity 0.3s ease;
}

.price__header.transparent {
  background-color: var(--color-white);
}

.price__content {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.3s ease, padding 0.3s ease;
}

.price__block {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px 35px 15px 15px;
  background-color: #f5f7ff;
  border-bottom: 3px solid rgba(140, 133, 218, 0.4);
  border-radius: 12px;
}
.price__block:not(:last-child) {
  margin-bottom: 10px;
}

.price__block-text {
  font-weight: 400;
  font-size: 15px;
  line-height: 156%;
  letter-spacing: -0.02em;
  color: var(--color-signal-black);
}

.price__block-btn {
  width: 262px;
  height: 52px;
  padding: 0 5px 0 25px;
  display: flex;
  align-items: center;
  bottom: 0;
  right: 0;
  font-weight: 400;
  font-size: 18px;
  line-height: 105%;
  border-radius: 40px;
  color: var(--color-signa-black);
  background: linear-gradient(133deg, #c8d3ff 0%, #afa7ff 100%);
}

.price__btn-icon {
  margin-left: auto;
}

.price__block-price {
  font-weight: 400;
  font-size: 18px;
  line-height: 159%;
  color: var(--color-signal-black);
}
