@import url('./header.css');
@import url('./footer.css');

@font-face {
	font-family: 'Inter';
	src: local('InterMedium'), url('../fonts/InterMedium.woff2') format('woff2'),
		url('../fonts/InterMedium.woff') format('woff');
	font-style: normal;
	font-weight: 500;
	font-display: swap;
}

@font-face {
	font-family: 'Inter';
	src: local('InterRegular'), url('../fonts/InterRegular.woff2') format('woff2'),
		url('../fonts/InterRegular.woff') format('woff');
	font-style: normal;
	font-weight: 400;
	font-display: swap;
}

html {
	box-sizing: border-box;
	scroll-behavior: smooth;
}

*,
h1,
h2,
h3,
h4,
h5,
h6 {
	margin: 0;
	padding: 0;
}

*,
*::before,
*::after {
	box-sizing: inherit;
}

a {
	color: inherit;
	text-decoration: none;
}

img,
svg {
	max-width: 100%;
}

body {
	min-width: 380px;
	font-optical-sizing: auto;
	font-family: 'Inter', sans-serif;
	background-color: var(--color-white);
}

:root {
	--color-smoky-white: #f5f5f5;
	--color-white: #ffffff;
	--color-wet-asphalt: #4e4e4e;
	--color-lavender: #eff3fc;
	--color-slate-blue: #897cff;
	--color-signal-black: #313131;
	--color-signa-black: #2c2c2c;
	--color-grey: #7a7a7a;
	--color-almost-black: #141414;
	--color-light-pinkish: #dad7ff;
	--color-lavender-pink: #f7b7efb5;
	--color-heavenly: #a3b5ffb3;
	--color-asphalt: #535353;
	--color-gray-brown: #3d3d3d;
	--color-dull-grey: #6a6a6a;
}

/*Blog*/

.main {
	margin-bottom: 100px;
}

.container {
	max-width: 1400px;
	margin: 0 auto;
	padding: 0 50px;
}

.list-reset {
	margin: 0;
	padding: 0;
	list-style: none;
}

.flex {
	display: flex;
}

.audiometry__title {
	font-weight: 400;
	font-size: 45px;
	line-height: 150%;
	letter-spacing: -0.02em;
	margin-bottom: 32px;
	color: var(--color-signal-black);
}

.audiometry__title--content {
	font-weight: 400;
	font-size: 37px;
	line-height: 156%;
	letter-spacing: -0.02em;
	color: var(--color-signa-black);
}

.audiometry__title--content span {
	color: var(--color-slate-blue);
}

.title__mob {
	display: none;
}

.chil__det {
	color: var(--color-slate-blue);
}

.audiometry__content {
	display: flex;

	justify-content: space-between;
}

.audiometry__left {
	padding: 48px;
	margin-right: 16px;
	border-radius: 32px;
	background: #f5f4ff;
	max-width: 575px;
}

.audiometry__desc {
	font-size: 18px;
	line-height: 156%;
	letter-spacing: -0.02em;
	color: var(--color-almost-black);
	margin-bottom: 48px;
}

.audiometry__svg {
	display: flex;
	align-items: center;
	margin-bottom: 36px;
}

.audiometry__svg:last-child {
	margin-bottom: 0;
}

.audiometry__svg img {
	margin-right: 20px;
}

.audiometry__svg--desc {
	font-weight: 400;
	font-size: 16px;
	max-width: 388px;
	line-height: 156%;
	letter-spacing: -0.02em;
	color: var(--color-dull-grey);
}

.audiometry__img {
	width: 625px;
	margin-bottom: 16px;
}

.audiometry__right--text {
	display: flex;
	padding: 32px;
	background-color: var(--color-light-pinkish);
	border-radius: 28px;
}

.audiometry__children {
	max-width: 332px;
	font-weight: 400;
	font-size: 24px;
	line-height: 120%;
	letter-spacing: -0.02em;
	color: var(--color-signa-black);
}

.audiometry__children span {
	color: #897cff;
}

.audiometry__right--desc {
	max-width: 443px;
	font-weight: 400;
	font-size: 18px;
	line-height: 140%;
	letter-spacing: -0.02em;
	color: var(--color-grey);
}
