@import url('./header.css');
@import url('./footer.css');

@font-face {
	font-family: 'Inter';
	src: local('InterMedium'), url('../fonts/InterMedium.woff2') format('woff2'),
		url('../fonts/InterMedium.woff') format('woff');
	font-style: normal;
	font-weight: 500;
	font-display: swap;
}

@font-face {
	font-family: 'Inter';
	src: local('InterRegular'), url('../fonts/InterRegular.woff2') format('woff2'),
		url('../fonts/InterRegular.woff') format('woff');
	font-style: normal;
	font-weight: 400;
	font-display: swap;
}

html {
	box-sizing: border-box;
	scroll-behavior: smooth;
}

*,
h1,
h2,
h3,
h4,
h5,
h6 {
	margin: 0;
	padding: 0;
}

*,
*::before,
*::after {
	box-sizing: inherit;
}

a {
	color: inherit;
	text-decoration: none;
}

img,
svg {
	max-width: 100%;
}

body {
	min-width: 380px;
	font-family: 'Inter', sans-serif;
	background-color: var(--color-white);
}

:root {
	--color-smoky-white: #f5f5f5;
	--color-white: #ffffff;
	--color-wet-asphalt: #4e4e4e;
	--color-lavender: #eff3fc;
	--color-slate-blue: #897cff;
	--color-signal-black: #313131;
	--color-signa-black: #2c2c2c;
	--color-grey: #7a7a7a;
	--color-almost-black: #141414;
	--color-light-pinkish: #dad7ff;
	--color-lavender-pink: #f7b7efb5;
	--color-heavenly: #a3b5ffb3;
	--color-asphalt: #535353;
	--color-gray-brown: #3d3d3d;
	--color-dull-grey: #6a6a6a;
}

/*Blog*/
.main {
	padding-bottom: 100px;
}

.container {
	max-width: 1400px;
	margin: 0 auto;
	padding: 0 50px;
}

.list-reset {
	margin: 0;
	padding: 0;
	list-style: none;
}

.flex {
	display: flex;
}

.bth-reset {
	border: none;
	background-color: transparent;
	cursor: pointer;
	outline: none;
}

.main {
	padding-bottom: 100px;
}

.therapist__title {
	font-weight: 400;
	font-size: 45px;
	line-height: 150%;
	letter-spacing: -0.02em;
	margin-bottom: 32px;
	color: #2a2a2a;
}

.therapist__content {
	display: flex;
	gap: 40px;
	align-items: flex-start;
}

.therapist__left {
	background: #f5f4ff;
	border-radius: 32px;
	padding: 48px 48px 60px 48px;
	max-width: 625px;
}

.therapist__svg--content {
	margin-top: 48px;
}

.therapist__title--content {
	font-weight: 400;
	font-size: 37px;
	line-height: 120%;
	letter-spacing: -0.02em;
	color: var(--color-gray-brown);
	margin-bottom: 8px;
}

.therapist__title--content span {
	color: var(--color-slate-blue);
}

.therapist__desc {
	font-weight: 400;
	font-size: 18px;
	line-height: 156%;
	letter-spacing: -0.02em;
	color: var(--color-gray-brown);
	max-width: 460px;
}

.therapist__svg {
	display: flex;
	align-items: center;
	margin-bottom: 36px;
}

.therapist__svg:last-child {
	margin-bottom: 0;
}

.therapist__svg--desc {
	font-weight: 400;
	font-size: 16px;
	line-height: 156%;
	letter-spacing: -0.02em;
	color: var(--color-grey);
	max-width: 438px;
}

.therapist__svg svg {
	margin-right: 20px;
}

.therapist__right {
	max-width: 625px;
}

.therapist__right img {
	margin-bottom: 16px;
}

.therapist__right--text {
	display: flex;
	padding: 32px;
	background-color: var(--color-light-pinkish);
	border-radius: 28px;
}

.therapist__right--desc {
	max-width: 443px;
}

.therapist__children {
	font-weight: 400;
	font-size: 24px;
	line-height: 120%;
	letter-spacing: -0.02em;
	color: var(--color-signa-black);
}

.therapist__children--desc {
	font-weight: 400;
	font-size: 18px;
	line-height: 140%;
	letter-spacing: -0.02em;
	color: var(--color-grey);
}

.therapist__department {
	margin-top: 88px;
}

.department__title {
	font-weight: 400;
	font-size: 32px;
	line-height: 130%;
	letter-spacing: -0.02em;
	color: var(--color-gray-brown);
	margin-bottom: 72px;
}

.department__title span {
	color: var(--color-slate-blue);
}

.mob__pediatri {
	display: none;
}

.department__item {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	gap: 70px;
}

.depatment__text p {
	font-weight: 400;
	font-size: 24px;
	line-height: 110%;
	color: var(--color-signa-black);
	margin-bottom: 12px;
}

.depatment__text span {
	display: block;
	max-width: 300px;
	font-weight: 500;
	font-size: 15px;
	line-height: 140%;
	letter-spacing: -0.02em;
	color: var(--color-grey);
}
