@media (max-width: 1024px) {
	.tympanometry__right {
		display: none;
	}
	.tympanometry__title {
		margin-top: 24px;
	}
	.tympanometry__left {
		padding: 20px;
	}
}

@media (max-width: 425px) {
	.tympanometry__title {
		font-size: 32px;
		margin-bottom: 22px;
	}
	.tympanometry__left {
		padding: 0;
	}
	.tympanometry__title--left {
		font-size: 23px;
	}
	.tympanometry__desc {
		font-size: 16px;
	}
	.tympanometry__content {
		margin-bottom: 56px;
	}
	.department__item {
		gap: 36px;
	}
	.main {
		padding-bottom: 0;
		margin-bottom: 25px;
	}
	.footer {
		background-color: var(--color-white);
	}
}
