@media (max-width: 1024px) {
  .vacancies__title {
    margin-top: 20px;
    font-size: 32px;
  }
  .vacancies__dental-surgeon-title {
    background-color: var(--color-light-pinkish);
  }
  .vacancies__dental-surgeon {
    background-color: var(--color-white);
  }
}

@media (max-width: 920px) {
  .vacancies__dental-surgeon-svg {
    display: none;
  }
  .vacancies__dental-surgeon-btn {
    width: 327px;
  }
  .vacancies__dental-surgeon-list {
    margin-bottom: 20px;
  }
}

@media (max-width: 768px) {
  .vacancies__modal-content {
    width: 342px;
    padding: 16px 24px;
  }
  .vacancies__modal-content-text {
    font-size: 16px;
  }
  .vacancies__modal-content-title {
    font-size: 28px;
  }
  #closeModalBtn {
    width: 328px;
    margin-left: -17px;
    margin-bottom: -8px;
  }

  .vacancies__modal-content-wrap svg {
    margin-right: 8px;
  }
}

@media (max-width: 425px) {
  .vacancies__title-text-span {
    font-size: 15px;
  }

  .vacancies__title-text-span span {
    font-size: 15px;
  }

  .vacancies__dental-surgeon-title {
    font-size: 20px;
    padding: 20px 30px;
  }
  .vacancies__dental-surgeon-wrap {
    padding: 0 20px 60px 30px;
  }
  .vacancies__dental-surgeon:not(:last-child) {
    margin-bottom: 48px;
  }
}

@media (max-width: 375px) {
  .vacancies__dental-surgeon-btn {
    width: 317px;
  }
  .vacancies__dental-surgeon:not(:first-child) {
    margin-bottom: 50px;
  }

  .vacancies__modal-content {
    width: 350px;
  }
  .vacancies__modal-content-text {
    font-size: 18px;
  }
  #closeModalBtn {
    width: 330px;
  }
}
